{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{ category.description|truncatewords:155 }}
    {% else %}
        Welcome to Noting where you can purchase everything
    {% endif %}
{% endblock %}
{% block title %}
    {% if category %}
        {{ category.name }} - nothing.
    {% else %}
        See our new collections - nothing.
    {% endif %}
{% endblock %}
{% block content %}
    {% if category %}
    <div class="container my-4">
        <div class="row">
            <div class="col-12 col-md-8 mx-auto">
                <img src="{{category.image.url}}" class="img-fluid" alt="{{category.name}}">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mt-2">
                        <li class="breadcrumb-item"><a href="{% url 'shop:allCat' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{category.name}}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="container my-4">
        <div class="row">
            {% if category %}
                <div class="col-md-12">
                    <div class="col-md-12">
                        <h1 class="display-md-4 display-lg-4">{{category.name}}</h1>
                        <p class="lead-md lead-lg">{{category.description}}</p>
                    </div>
                    
                </div>
            {% else %}
                <div class="col-md-12">
                    <img src="{% static 'image/ek.png' %}" class="img-fluid" alt="Our Products">
                </div>
                <div class="cat-det">
                    <h1>Our Collections</h1>
                    <p style="text-align: justify;">
                        Explore innovation at EleKtronics! Our collection features top-tier mobile phones, sleek laptops, and smart home essentials. Elevate your digital lifestyle with powerful smartphones and high-performance laptops. Every purchase is a step toward a connected future. Welcome to EleKtronics – where excellence meets innovation!
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="container my-4">
        <div class="row">
            {% for product in products.object_list %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <a href="{{ product.get_url }}">
                        <img src="{{ product.image.url }}" class="card-img-top" style="max-height: 300px;" alt="{{ i.name }}">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">{{ product.name }}</h4>
                        <p class="card-text">{{ product.price }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="mx-auto">
            {% if products.paginator.num_pages > 1 %}
            <hr>
            <div class="text-center">
                {% for pg in products.paginator.page_range %}
                <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {%endif%}">{{pg}}</a>
                {%endfor%}
            </div>
            {%endif%}
        </div>
    </div>
{% endblock %}
